{% extends "base.html" %}
{% block content %}


  <div class="animal">
    <div class="content">
      
      <div class="details">
        <table id="birds">
          <tr>
            <th>Name</th>
            <th>Type of Bird</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Owner</th>
            <th>Owner_tel</th>
            <th>Owner_email</th>
            <th>Vet</th>
            <th>Notes</th>
          </tr>
          {% for animal in all_animals %}
          <tr>
            <td><a href="/animals/{{animal.id}}">{{animal.name}}</a></td>
            <td>{{animal.type}}</td>
            <td>{{animal.dob}}</td>
            <td>{{animal.age}}</td>
            <td>{{animal.owner}}</td>
            <td>{{animal.owner_tel}}</td>
            <td>{{animal.owner_email}}</td>
            <td>{{animal.vet.name}}</td>
            <td>{{animal.notes}}</td>
          </tr>
         {% endfor %}
        </table>
        
    </div>
  </div>


{% endblock %}