header {
    position: relative;
	display: block;
	height: 30%;
	max-height: 200px;
	text-align: center;
	justify-content: center;
	font-family: "Major Mono Display", monospace;
    background-color: lightblue;
}

footer {
    padding-left: 5px;
    background-color: lightblue;
    height: 60px;
}


footer > p {
    padding-top: 20px;
}

.url_buttons {
    display: flex;
}

.url_buttons > li > a {
    text-decoration: none;
}


.url_buttons > li {
    justify-content: center;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border:none;
    border-radius:10px;
    padding-bottom: 20px;
  }


#home-image {
    background-image: url('images/for_them.png');
    width:100vw;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
  }


