<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Vet Management</title>
</head>

  <header>
    <h1> Frank and Teddy's Avian Vet</h1>
    <nav>
      <ul class="url_buttons">
        <li><a href="{{ url_for('home') }}">Home &#127968</a></li>
        <li><a href="{{ url_for('animals.animals') }}">All Birds</a></li>
        <li><a href="{{ url_for('animals.new_animal') }}">Add New Bird</a></li>
        <li><a href="{{ url_for('vets.vets') }}">All Vets</a></li>
        <li><a href="{{ url_for('vets.new_vet') }}">Add New Vets</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <main>
    {%block home%}
    {% endblock %}
    </body>
  </main>
  <footer>
    <p>For tech support contact Kieran on 07922175003 or email @ <a href="mailto:kieran@codeclan.com?subject=Mail from Our Site">kieran@codeclan.com</a></p>
  </footer>
</body>
</html>
